.cardLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
  gap: 2rem;
  text-decoration: none;
  color: inherit;
  width: 100%;
  border-radius: 0.75rem;
  transition: border 0.1s ease;
  border: 1px solid var(--border);

  &:hover {
    border: 1px solid var(--primary);
  }

  & span {
    align-self: flex-start;
    font-weight: bold;
    color: var(--primary);
  }

  & p {
    color: var(--muted-foreground);
  }

  & svg {
    align-self: flex-end;
  }
}
