---
// Styles
import styles from './CardLink.module.css';

// Components
import ArrowRight from '@/assets/svg/arrow-right.svg';

interface CardLinkProps {
  title: string;
  href: string;
  description: string;
}

const { title, href, description } = Astro.props;
---

<a href={href} class={styles.cardLink}>
  <div>
    <span>
      {title}
    </span>
    <p>{description}</p>
  </div>
  <ArrowRight />
</a>
