.prose {
  max-width: 720px;
  margin: auto;
  color: rgb(var(--gray-dark));
}

.title {
  margin-bottom: 1em;
  line-height: 1;
  font-size: 1.75rem;
}

.description {
  font-size: 1rem;
  line-height: 28px;
  color: var(--muted-foreground);
}

.date {
  margin-bottom: 0.5em;
  color: rgb(var(--gray));
}

.lastUpdatedOn {
  font-style: italic;
}
