.careerCard {
  border: 1px solid var(--border);
  border-radius: 0.4375rem;
  text-decoration: none;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
  z-index: 10;
  background-color: var(--card);

  &:hover {
    border: 1px solid var(--primary);
  }
}

.img {
  position: absolute;
  bottom: -2rem;
  right: -1rem;
  width: 10rem;
  height: auto;
  opacity: 0.1;
  pointer-events: none;
  z-index: 0;
}

.anchor {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  & h2 {
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.25rem;
  }

  & p:nth-child(1) {
    font-size: 0.9rem;
  }

  & p:nth-child(2) {
    color: var(--muted-foreground);
  }

  & p:nth-child(3) {
    color: var(--foreground);
  }

  & svg {
    align-self: flex-end;
  }
}
