---
const avatar = 'https://github.com/figueroaignacio.png';
---

<div>
  <!-- <img src={HeroGif.src} alt="Hero gif" /> -->
  <div>
    <!-- <img src={avatar} alt="Ignacio Figueroa" /> -->
    <h1>Ignacio Figueroa</h1>
  </div>
</div>
