.toc {
  max-height: calc(100vh - 10rem);
}

.title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.list {
  list-style: none;
}

.text {
  font-size: 0.8rem;
}

.depth2:hover,
.depth3:hover,
.depth4:hover {
  text-decoration: underline;
  color: var(--primary);
}

.depth2 {
  margin-left: 0;
  margin-bottom: 0.5rem;
  color: var(--muted-foreground);
}

.depth3 {
  margin-left: 2rem;
  color: var(--muted-foreground);
}

.depth4 {
  margin-left: 3rem;
  color: var(--muted-foreground);
}
