.homeSection {
  max-width: 724px;
  margin-inline: auto;
  min-height: 60dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.list {
  gap: 2rem;
  list-style: none;
}
