.avatar {
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--border);
  border-radius: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.heading {
  background: var(--primary);
  color: #fff;
  width: fit-content;
  padding: 0 0.5rem;
  border-radius: 0.4375rem;
  margin-bottom: 2rem;
}

.item {
  background-color: var(--card);
  border: 1px solid var(--border);
  padding: 1rem;
  gap: 1rem;
  transition: transform 40ms ease;
  text-decoration: none;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-wrap: wrap;
  width: 100%;

  &:hover {
    transform: scale(1.02);
  }

  & span:nth-child(1) {
    align-self: flex-start;
    font-weight: bold;
    color: var(--muted-foreground);
    font-size: 1.25rem;
  }

  & span:nth-child(2) {
    align-self: flex-end;
    font-size: 1.75rem;
  }
}
