<a href="/" class="back">Volver</a>

<style is:inline>
  .back {
    border: none;
    font-size: 1rem;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
</style>

