---
// Components
import ArrowLeftIcon from '@/assets/svg/arrow-left.svg';
---

<button id="backButton" class="back-button">
  <ArrowLeftIcon />
  <span> Volver </span>
</button>

<style>
  .back-button {
    background-color: var(--primary);
    border: none;
    color: var(--accent);
    display: flex;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.5rem 1.25rem;
    border-radius: 0.75rem;
    transition: filter 0.1s ease;

    &:hover {
      cursor: pointer;
      filter: brightness(1.1);
    }
  }
</style>

<script is:inline>
  function handleBack(e) {
    e.preventDefault();

    if (window.history.length > 1) {
      window.history.back();
    } else {
      window.location.href = '/';
    }
  }

  function main() {
    const backButton = document.getElementById('backButton');

    if (backButton) {
      backButton.removeEventListener('click', handleBack);
      backButton.addEventListener('click', handleBack);
    }
  }

  document.addEventListener('DOMContentLoaded', main);
  document.addEventListener('astro:after-swap', main);
</script>
