.footer {
  border-top: 1px solid var(--border);
  background-color: var(--card);
}

.container {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
}

.text {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
