---
// Styles
import styles from './Footer.module.css';

// Components
import AstroIcon from '@/assets/svg/astro.svg';
import CSSIcon from '@/assets/svg/css.svg';
---

<footer class={styles.footer}>
  <div class={styles.container}>
    <p>Creado por Ignacio Figueroa - Abril 2025</p>
    <p class={styles.text}>
      Desarrollado con
      <AstroIcon />
      y
      <CSSIcon />
    </p>
    <p>Fun fact: Me gusta React y Astro. Mas react que astro. Bueno... depende la situación.</p>
  </div>
</footer>
