---
import styles from "./Footer.module.css";
---

<footer class={styles.footer}>
  <div class={styles.container}>
    <p>Creado por Ignacio Figueroa - 2025</p>
    <p>
      Desarrollado con
      <svg width="24" height="24"
        ><use href="/public/icons.svg#astro"></use></svg
      >
      y
      <svg width="24" height="24"><use href="/public/icons.svg#css"></use></svg>
    </p>
  </div>
</footer>
