---
// Components
import AstroIcon from '@/assets/svg/astro.svg';
import CSSIcon from '@/assets/svg/css.svg';
import MarkdownIcon from '@/assets/svg/markdown.svg';
import MDXIcon from '@/assets/svg/mdx.svg';
---

<footer>
  <div>
    <p>Desarrollado con</p>
    <div>
      <div>
        <AstroIcon />
        <span>Astro</span>
      </div>
      <div>
        <AstroIcon />
        <span>Astro Content Collections</span>
      </div>
      <div>
        <CSSIcon />
        <span>CSS Modules</span>
      </div>
      <div>
        <MarkdownIcon />
        <span>Markdown</span>
      </div>
      <div>
        <MDXIcon />
        <span>MDX</span>
      </div>
    </div>
  </div>
</footer>
