---
import CardLink from '@/components/CardLink/CardLink.astro';
import { AySOTopics } from '@/lib/topics';
---

<div class="flex flex-wrap gap">
  {
    AySOTopics.map((topic) => (
      <CardLink title={topic.title} description={topic.description} href={topic.href} />
    ))
  }
</div>
