---
import CardLink from '@/components/CardLink.astro';
import { BDTopics } from '@/lib/topics';
---

<div class="flex flex-wrap gap">
  {
    BDTopics.map((topic) => (
      <CardLink title={topic.title} description={topic.description} href={topic.href} />
    ))
  }
</div>
