---
// Styles
import styles from '@/styles/NotFound.module.css';

// Components
import Layout from '@/layouts/BaseLayout/Layout.astro';
---

<Layout description="No es posible acceder a esta página" title="Error 404">
  <section class={styles.notFoundSection}>
    <h1>Error 404 👾</h1>
    <p>No es posible acceder a esta página por que no existe o no fué creada.</p>
  </section>
</Layout>
