---
interface AssignatureCardProps {
  title: string;
  emoji: string;
  href: string;
}

const { title, emoji, href } = Astro.props;
---

<a href={href}>
  <span>{title}</span>
  <span>{emoji}</span>
</a>
